/*2*/
*{
	font-family: 'Roboto';
}
.twitt{
	background: #373839;
	display: flex;
	width: 350px;
	margin: auto;
    &__content{
    	width: 70%;
    	padding: 10px;
    }
	&__text{
		color: #919191;
		line-height: 1.4;
	}
	&__date{
		color: #ccc;
	}
	&__content-date{}
}

.logo{
	width: 26%;
	&__image{
		max-width: 75px;
		width: 100%;
		padding: 10px;
	}
}

/*3*/

.card{
	width: 1200px;
	margin: auto;
	display: flex;
	&__block{
		width: 33.33333%;
		margin: 50px 15px;
		text-align: center;
		background: #e1e1e1;
		padding: 15px;
	}
	&__image{
		border-radius: 50%;
		margin: auto;
	}
	&__title{
		margin: 10px 0;
	}
}

/*4*/

.info-block{
	margin: auto;
	width: 1200px;
	text-align: center;
	&__name{}
	&__title{
		font: 48px Roboto;
		font-weight: bold;
		text-transform: uppercase;
	}
	&__line{
		position: relative;
		span{
			&:after{
				content: "";
	    		border-bottom: 1px solid #ccc;
	    		position: absolute;
	    		width: 200px;
	    		top: 9px;
	    		right: 390px;
			}
			&:before{
				content: "";
	    		border-bottom: 1px solid #ccc;
	    		position: absolute;
	    		width: 200px;
	    		top: 9px;
	    		left: 390px;
			}
		}
	}
	&__content{
		max-width: 800px;
		margin: auto;
	}
	&__text{
		font-family: Roboto;
		font-weight: 300;
		line-height: 1.8;
	}
}

/*5*/

.biography{
	background: black;
	color: white;
	padding: 25px 0;
	text-align: center;
	width: 1200px;
	margin:60px auto;
	&__img{}
	&__person-image{
		border-radius: 50%;
		text-align: center;
		width: 200px;
		height: 200px;
		margin-bottom: 30px;
	}
	&__title{
		font: 30px Roboto;
		font-weight: 400;
    	max-width: 630px;
    	margin: auto;
	}
	&__line{
		width: 50px;
		height: 3px;
		margin: 30px auto;
		background: #11dbc9;
	}
	&__desc{
		margin: auto;
		max-width: 720px;
	}
	&__text{
		margin-top: 30px;
		line-height: 1.6;
	}
	&__statistics{
		margin-top: 30px;
		display: flex;
	}
	&__block{
		width: 33.333333%;
	}
	&__numbers{
		font-size: 38px;
		display: block;
		margin: auto;
		font-weight: 500;
	}
	&__short-desc{}
}

/*6*/

.optimized{
	width: 1200px;
	margin: auto;
	display: flex;
	&__left-part{
		width: 30%;
	}
	&__rifht-part{
		width: 70%;
	}
	&__image{
		width: 100%;
	}
	&__name{}
	&__title{
		font-size: 30px;
		margin-top: 8px;
		display: block;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	&__line{
		width: 20px;
		height: 3px;
		background: black;
		margin-bottom: 40px;
	}
	&__content{}
	&__text{
		font-size: 16px;
		line-height: 1.6;
		color: #6e462f;
	}

}
.button{
	&--more{
		text-transform: uppercase;
    	border-radius: 5px;
    	border: 2px solid black;
    	color: black;
    	background: white;
    	display: inline-block;
    	text-decoration: none;
    	margin-top: 30px;
    	padding: 10px 29px;
    	cursor: pointer;
    	font-size: 18px;
    	&:hover{
    		background: black;
    		color: white;
    	}
	}
}

/*7*/

.menu{
	width: 1200px;
	margin: 30px auto;
	display: flex;
	padding: 15px;
	justify-content: space-between;
	align-items: center;
	background: #333;
	&__content{}
	&__list{
		padding: 0;
	}
	&__item{
		display: inline-block;
		padding: 0 15px;
	}
	&__link{
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		font-size: 16px;
	}
}

.logo{
	&__link{
		border: 2px solid white;
		color: white;
		text-decoration: none;
		font: 30px Roboto;
		font-weight: 300;
		text-transform: uppercase;
		padding: 10px;
	}
}

/*8*/

.card-contact{
	border-radius: 5px;
	max-width: 450px;
	margin: auto;
	&__title{
		font-size: 28px;
		color: white;
		margin: 0 0 5px 0;
	}
	&__body{
    	background: url(img/bar.jpg) no-repeat;
    	background-size: cover;
    	display: flex;
    	justify-content: flex-end;
    	min-height: 200px;
    	flex-direction: column;
    	padding: 15px 15px 45px 15px;
	}
	&__adress{
		color: white;
		font-size: 18px;
		line-height: 1.5;
		margin: 0;
	}
	&__phone{
		color: white;
		font-size: 18px;
		line-height: 1.5;
		margin: 5px 0 0 0;
		i{
			font-size: 20px;
		}
	}
	&__footer{
		background: white;
		display: flex;
		justify-content: space-between;
		padding: 15px;
		align-items: center;
		border-radius: 0 0 5px 5px;
		box-shadow: 1px 1px 10px #ccc;
	}
	&__fight{}
	&__like{
		color: #d67d7b;
		font-size: 20px;
	}
}

.raiting{
	&__star{
		i{
			color: #89b74e;
			padding-right: 3px;
		}
	}
	&__sum{
    	color: white;
    	background: #89b74e;
    	display: inline-grid;
    	border-radius: 50%;
    	width: 28px;
    	height: 28px;
    	font-size: 14px;
    	align-items: center;
    	justify-content: center;
	}
	&__number{}
}

/*9*/

.card-tarif{
	max-width: 350px;
	margin:40px auto;
	background: white;
	padding: 15px;
	text-align: center;
	&__head{
		border-bottom: 1px solid #ccc;
	}
	&__title{
		margin: 0;
		font-size: 28px;
		font-weight: 400;
		color: #727b8e;
		padding: 25px 0;
	}
	&__include{}
	&__list{
		margin: 0;
		list-style-type: none;
		padding: 25px;
		border-bottom: 1px solid #ccc;
		i{
			color: #727b8e;
		}
	}
	&__item{}
	&__btn{}
}

.price{
	padding: 25px;
	border-bottom: 1px solid #ccc;
	color: #727b8e;
	&__time{
		font-size: 28px;
		color: #727b8e;
		padding: 25px 0;
	}
	&__sum{
		font-size: 38px;
	}
}

.button{
	&--get{
		max-width: 100%;
		display: block;
		color: white;
		text-decoration: none;
		text-align: center;
		background: #85B959;
		border: 1px solid #85B959;
		padding: 8px 15px;
		border: none;
		border-radius: 5px;
		font-size: 18px;
		cursor: pointer;
		margin-top: 25px;
		&:hover{
			color: #85B959;
			background: white;
		}
	}
}

/*10*/

.reviews{
	width: 1200px;
	margin: 30px auto;
	padding: 15px;
	&__top{
		margin-bottom: 40px;
	}
	&__name{
		font-size: 24px;
		text-transform: uppercase;
		border-bottom: 2px solid black;
		padding-bottom: 5px;
	}
	&__kol{
		color: #777;
	}
	&__row{
		display: flex;
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
    	margin-bottom: 30px;
	}
	&__left-part{
		width: 20%;
	}
	&__inf{}
	&__autor{
		margin: 30px 0 10px 0;
		display: block;
		color: #7f7f7f;
	}
	&__date{
		color: #9c9c9c;
		font-weight: 300;
	}
	&__right-part{
		width: 80%;
	}
	&__theme{}
	&__theme-name{
		font-size: 22px;
		font-weight: 500;
		color: black;
	}
	&__content{}
	&__text{
		color: #7f7f7f;
		line-height: 1.5;
	}
}

.rating{
	&__value{
		color: #e6bb34;
	}
}

/*11*/
.product{
	&__left{}
	&__image{}
	&__right{}
	&__name{}
	&__arrow{}
	&__line{}
	&__main-inf{}
	&__price{}
	&__star{}
	&__reviews{}
	&__body{}
	&__desc{}
	&__additionally{}
	&__include{}
	&__footer{}
	&__shere{}
}

.breadcrumbs{
	&__list{}
	&__item{}
	&__text{}
}

.button{
	&--arrow{}
	&--selected{}
	&--bye{}
	&--favorite{}
}
